{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    {% if title %}
    <title>InstaClone - {{title}}</title>
    {% else %}
    <title> InstaClone </title>
    {% endif %}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}

</head>



<body>
    {% include "navbar.html" %}
    {% block content %} 
    
    <h1 class="text-center">Instagram</h1>

    {% for image in images %}

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

        {% if image.image %}
        <img src="{{image.image_url.url}}" class="img-responsive" alt="No image">
        <h2>malaysia</h2>
        {% endif %}
    </div>




    {% endfor %}


    {%endblock%}

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}
</body>

</html>